<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title>Bearbeitung: [(${training.topic})]</title>
</head>
<body>

<span th:replace="~{fragments/header :: body/content()}"></span>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Bearbeitung: [(${training.topic})]</h1>
        <form action="#" th:action="@{/trainings/{id}(id=${training.id})}"
              th:object="${training}" method="post" class="text-left">

            <label for="location">Veranstaltungsort</label>
            <input th:field="*{location}" type="text" class="form-control" id="location"
                   aria-describedby="locationDescription" placeholder="Ort / Remote">
            <small id="locationDescription" class="form-text text-muted">Veranstaltungsort des Trainings</small>
            <p class="alert-warning" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Fehler</p>

            <label for="topic">Thema</label>
            <input th:field="*{topic}" type="text" class="form-control" id="topic"
                   aria-describedby="topicDescription" placeholder="Thema">
            <small id="topicDescription" class="form-text text-muted">Thema des Trainings</small>
            <p class="alert-warning" th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}">Fehler</p>

            <label for="instructor">Trainer</label>
            <input th:field="*{instructor}" type="text" class="form-control" id="instructor"
                   aria-describedby="instructorDescription" placeholder="Trainer">
            <small id="instructorDescription" class="form-text text-muted">Trainer für das Training</small>
            <p class="alert-warning" th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}">
                Fehler</p>

            <label for="startTime">Startzeit</label>
            <input name="startTime"
                   th:value="${#temporals.format(training.startTime, 'yyyy-MM-dd''T''HH:mm:ssXXX')}"
                   type="text"
                   class="form-control"
                   id="startTime"
                   aria-describedby="startTime"
                   readonly>


            <small id="startTimeDescription" class="form-text text-muted">Startzeitpunkt des Trainings</small>
            <p class="alert-warning" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Fehler</p>

            <label for="availableSeats">Freie Plätze</label>
            <input th:field="*{availableSeats}" type="text" class="form-control" id="availableSeats"
                   aria-describedby="availableSeatsDescription" readonly>
            <small id="availableSeatsDescription" class="form-text text-muted">Freie Plätze im Training</small>
            <p class="alert-warning" th:if="${#fields.hasErrors('availableSeats')}" th:errors="*{availableSeats}">
                Fehler</p>


            <button type="submit" class="btn btn-primary btn-lg">Speichern</button>
        </form>
    </div>
</main><!-- /.container -->

<span th:replace="~{fragments/footer :: body/content()}"></span>

</body>
</html>
